.Deck {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 600px;
}

.cards li {
  position: relative;
  background-color: slateblue;
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;
  padding: 20px 15px 5px;
}

.cards li:hover {
  background-color: rgb(148, 134, 229);
  cursor: pointer;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}

.cards li a {
  color: white;
}
